:root {
    --app-bg: #191826;
    --premium-bg: #FA7453;
    --dark-font: #191826;
    --light-font: #FCFAF9;
    --hover-green: #66E2DC;
    --hover-orange: #FFB964;
}

html {
    box-sizing: border-box;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
}

* {
    margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

img {
    display: block;
    max-width: 100%;
}

button {
    font: inherit;
}

main {
    display: grid;
    position: relative;
}

section {
    padding: 1.5rem;
}

section.header {
    background-image: url("./assets/bg-main-mobile.png");
    background-position: bottom left;
    background-repeat: no-repeat;
}

header>h1 {
    margin-top: 4rem;
    margin-bottom: 1.25rem;
    font-size: 2.5rem;
    font-size: clamp(2.5rem, 1.44rem + 4.51vw, 5.5rem);
    font-weight: 700;
    line-height: 3rem;
    color: var(--dark-font);
}

header>p {
    font-size: 1rem;
    font-size: clamp(1rem, 0.912rem + 0.376vw, 1.25rem);
    font-weight: 400;
    line-height: 1.625rem;
    margin-bottom: 10rem;
    color: var(--dark-font);
}

.app-premium {
    padding: 0;
}

.app-photo {
    border-radius: .75rem;
    background: url("./assets/bg-pattern-2.svg");
    background-color: var(--app-bg);
    background-repeat: no-repeat;
    background-position: center;
}

.app-container {
    width: 13rem;
    margin: 0 auto;
}

.app-container>img {
    transform: translateY(-25%);
}

/* Premium card styling */

.premium {
    border-radius: .75rem;
    background-color: var(--premium-bg);
    position: relative;
    transform: translateY(-4%);
}

.premium>h1 {
    font-size: 2rem;
    font-size: clamp(2rem, 1.824rem + 0.751vw, 2.5rem);
    font-weight: 700;
    color: var(--light-font);
    padding: 1.5rem 0 .75rem 0;
}

.premium>p {
    font-size: 1.125rem;
    font-size: clamp(1.125rem, 1.081rem + 0.188vw, 1.25rem);
    color: var(--light-font);
}

.premium-price {
    padding-top: 2.25rem;
    padding-bottom: 2rem;
}

.price {
    font-size: 4.0625rem;
    font-weight: 700;
}

button {
    width: 100%;
    height: 3.8125rem;
    font-weight: 700;
    border-radius: .75rem;
    border: 0;
}

button#iOS {
    margin-bottom: 1rem;
    background-color: var(--dark-font);
    color: var(--light-font);
}

button#iOS:hover {
    background-color: var(--hover-green);
}

button#Android {
    background-color: var(--light-font);
    color: var(--dark-font);
    margin-bottom: 3rem;
}

button#Android:hover {
    background-color: var(--hover-orange);
}

span.button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.footer {
    margin-top: .5rem;
}

footer>img {
    margin-bottom: 2rem;
}

footer>p {
    font-size: 1rem;
}

p.email {
    font-weight: 700;
}

.logos {
    display: flex;
    gap: 1rem;
    padding-left: 0;
}